
/*#mycanvas-gene-plot {
    width: 538px;
    margin-top: 20px;
    height: 336px;
}*/

#mycanvas-meta-plot {
    width: 660px;
    margin-top: 20px;
    height: 435px;
}

#generif {
    border: 1px solid gainsboro;
    max-height: 200px;
    overflow: auto;
}

#pubmed-abstracts {
    border: 1px solid gainsboro;
    max-height: 200px;
    overflow: auto;
}
